*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.links{
  height: 60px;
  background-color: #ff7e7e;
  display: flex;
  justify-content: center; 
  align-items: center;

}
ul{
  display: flex;
  list-style-type: none;
  margin: 10px;
  padding: 0;
  gap: 10px;
  font-size: 20px;
  font-weight: bolder;
  gap: 95px;
}
.menu{
  margin-left: 100px;
  width: 70px;
  height: 50px;
}
li{
  font-size: larger;
  font-weight: bolder;
}

.First_half{
  width: 50%;
  height: 780px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(to right, #fff6b7, #fcd9d9);
}
.btn{
  color: white;
  height: 80px;
  width: 200px;
  margin-top: 100px;
  background-color: #e85959; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 35px;
}
h1{
  font-size: 50px;
 
 
}
.card{
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

}
.Second_half{
  width: 50%;
  height: 780px;
}
.Bodyimg{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.parent{
  display: flex;
}

.picture{
   background: linear-gradient(to right, #ffd6d6, #f5c7f7);
   height: 100vh;
   display: flex;
}

.imgcont{

  width: 50%;
  display: flex;
}
.rachel{
  height: 200px;
  width: 300px;
}
.eva{
  
  height: 200px;
  width: 300px;
}

.mister{
 
  height: 420px;
  width: 400px;
}

.cont2{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 20px;
  margin-top: 150px;
}
.cont1{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 90px;
  margin-top: 150px;
}
.redbox{
  background-color: #ed8181;
  height: 300px;
  width: 500px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 220px;
  margin-left: 130px;
  gap: 20px;
}
span{
  position: absolute;
  margin-left: 10px;

}